//colors
$color-primary: #e23e57; //pink
$color-secundary-light: #88304e; //medium purple
$color-secundary: #522546; //purple
$color-secundary-dark: #311d3f; //dark-purple

$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//font
$default-font-size: 1.6rem;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
