$color-primary: #e23e57; //pink
$color-secundary-light: #88304e; //medium purple
$color-secundary: #522546; //purple
$color-secundary-dark: #311d3f; //dark-purple

$color-grey-dark: #777;
$color-white: #fff;

*,
*::after,
*.before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7; /* Significa que a altura da linha é 1.7 x normal*/
  color: $color-grey-dark;
  padding: 30px;
}

/* CABEÇALHO */
.header {
    height: 95vh; /*Significa que a altura deve ser 95% que a janela de visualização*/
    background-image: 
        linear-gradient( /* linear gradient criar um degrade de cor, sendo o 1º paramentro para onde a cor ira mudar, o 2º e 3º sendo as cores*/
            to right bottom,
            rgba($color-primary, 0.8), 
            rgba($color-secundary, 0.8) /*Não esquecer de diminuir a opacidade da cor para aparecer a imagem de baixo*/
        ),
        url("../img/hero.jpg"); 
    background-size: cover;
    background-position: center; /*Imagem responsive*/
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);/*Cada ponto será uma ponta do formato da imagem*/
    position: relative; /* para ser referencia para o top e left do logo-box*/
}

/* LOGO */
.logo-box {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo {
    height: 60px;
}

.logo:hover {
    animation-name: moveInRight 1s ease-out;
}/*quando passar pela logo*/

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /*Para considerar 50% da imagem*/
    text-align: center;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    
    backface-visibility: hidden; /*corrige o pulinho que acontece quando a animação termina */
    margin-bottom: 60px;
}

.heading-primary-main {
    display: block;
    font-size: 68px;
    font-weight:  400;
    letter-spacing: 35px;
    text-align: center;
    
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    
    /*
        animation-timing-function: define como a animação vai processeguir, exemplo, quão rápido ou devagar
        animation-delay: 3s;
        animation-iteration-count: 3;  repetir animação(3 vezes)
    */
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 14px;
    text-align: center;
    
    animation-name: moveInRight 1s ease-out; /*simplificando o que foi feito acima*/
}

@keyframes  moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px) /* positivo = direita, negativo = esquerda*/
        
    } /*comecando a animação*/
    
    /*60% {
        transform: rotate(180deg); 
    }girando*/
    
    80% {
        transform: translateX(10px);
    }/*quando queremos que algo aconteça no meio da animação*/

    100% {
        opacity: 1;
        transform: translate(0); /*zero, pq para parecer exatemente como é sem animação*/;
    } /*terminando a animação*/
}

@keyframes  moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px); /* positivo = direita, negativo = esquerda*/
        
    }
    
    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    } 
}

@keyframes  moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px); /* positivo = direita, negativo = esquerda*/
        
    }

    100% {
        opacity: 1;
        transform: translate(0);
    } 
}

/*:link, quando for selecionado*/
/*:visited - estado quando o usuario já clicou no botão*/
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px; /*top bottom right left*/
    display: inline-block;
    border-radius: 100px;
    transition: all .2s; /*todas as propriedades estão habilitadas para receber animacao*/
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);/*sombra para direção X, sombra para baixo,  tamanho fo borrado, cor*/
}

/*botão clicando*/
.btn:active {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    transform: translateY(-1px);
}

.btn-white {
    background-color: $color-white;
    color: $color-grey-dark;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /*Define a posição dos elementos*/
    transition: all .4s;
}

.btn-white::after {
    background-color: $color-white;

}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}

.btn-animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}
