@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typograph";
@import "base/utilities";

@import "pages/home";

/* CABEÇALHO */
.header {
    height: 95vh; /*Significa que a altura deve ser 95% que a janela de visualização*/
    background-image: 
        linear-gradient( /* linear gradient criar um degrade de cor, sendo o 1º paramentro para onde a cor ira mudar, o 2º e 3º sendo as cores*/
            to right bottom,
            rgba($color-primary, 0.8), 
            rgba($color-secundary, 0.8) /*Não esquecer de diminuir a opacidade da cor para aparecer a imagem de baixo*/
        ),
        url("../img/hero.jpg"); 
    background-size: cover;
    background-position: center; /*Imagem responsive*/
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);/*Cada ponto será uma ponta do formato da imagem*/
    position: relative; /* para ser referencia para o top e left do logo-box*/

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;

        &:hover {
            animation-name: moveInRight 1s ease-out;
            /*quando passar pela logo*/
        }
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%); /*Para considerar 50% da imagem*/
        text-align: center;
    }
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    
    backface-visibility: hidden; /*corrige o pulinho que acontece quando a animação termina */
    margin-bottom: 60px;

    &--main {
        display: block;
        font-size: 68px;
        font-weight:  400;
        letter-spacing: 35px;
        text-align: center;
        
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
    
    &--sub {
        display: block;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 14px;
        text-align: center;
        
        animation-name: moveInRight 1s ease-out; /*simplificando o que foi feito acima*/
    }
}

/*:link, quando for selecionado*/
/*:visited - estado quando o usuario já clicou no botão*/
.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px; /*top bottom right left*/
        display: inline-block;
        border-radius: 100px;
        transition: all .2s; /*todas as propriedades estão habilitadas para receber animacao*/
        position: relative;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba($color-black, .2);/*sombra para direção X, sombra para baixo,  tamanho fo borrado, cor*/
    
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
	        opacity: 0;
        }
    }

    /*botão clicando*/
    &:active {
        box-shadow: 0 5px 10px rgba($color-black, .2);
        transform: translateY(-1px);
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;
        
        &::after {
            background-color: $color-white;
    
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1; /*Define a posição dos elementos*/
        transition: all .4s;
    }

    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }

}
